@page "/Actors"
@using Domain.Models
@using Application.Service.ActorSerice
@inject ActorService actorService

<div class="d-flex justify-content-between">
    <a class="btn btn-primary btn-sm" href="AddNewActor" style="width: 100px;">
        <span class="oi oi-plus" aria-hidden="true"></span> New Actor
    </a>
    <a class="btn btn-primary btn-sm" href="SearchActor" style="width: 100%; text-align: center;">
        <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Search Actor
    </a>
</div>

<hr />
<h3>Actors List</h3>

@if (AcObj is null)
{
    <p><em>Loading..............</em></p>
}
else
{
    <div>
        <p>Total Actors: @AcObj.Count</p>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Full Name
                </th>
                <th>
                    Picture
                </th>
                <th>
                    Bio
                </th>
                <th>
                    View Actor
                </th>
                <th>
                    Edit Actor
                </th>
                <th>
                    Delete Actor
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var actor in AcObj)
            {
                <tr>
                    <td>
                        @actor.FullName
                    </td>
                    <td>
                        <img src="@actor.ProfilePictureURL" alt="@actor.FullName" width="100" height="100" />
                    </td>
                    <td>
                        @actor.Bio
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="ViewActor/@actor.Id">
                            <span aria-hidden="true">View Actor</span>
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="EditActor/@actor.Id">
                            <span aria-hidden="true">Edit Actor</span>
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="DeleteActor/@actor.Id">
                            <span aria-hidden="true">Delete Actor</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<Actor> AcObj;
    protected override async Task OnInitializedAsync()
    {
        AcObj = await Task.Run(() => actorService.GetAllActorsAsunc());
    }
}
